:root {
    --text-color: #1e1e1e;
    --text-muted: #8D8D8D;
    --text-card-dark-blue: #0D1B39;
    --accent: #e58411;

    --header-text-color: #FFFFFF;

    --footer-accent: #F6973F;
    --footer-bg: #2D2F33;
    --footer-text-color: #FFFFFF;

    --ui-orange: #e58411;
    --ui-biruza: #00d6c9;
    --ui-grey: #7c7c7c;
    --ui-dark-blue: #0D1B39;

} 

@mixin retina-bg ($image) {
    @media  
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi) {
            background-image: $image;
        }
    
}

@mixin desktop-small() {
    @media (max-width: 1400px) {
        @content;
    }
}

@mixin tablet() {
    @media (max-width: 992px) {
        @content;
    }
}

@mixin mobile-xl() {
    @media (max-width: 819px) {
        @content;
    }
}

@mixin mobile() {
    @media (max-width: 629px) {
        @content;
    }
}